.div-details {
    width: 100%;
    height: 100%;
    color: #d32f2f;
    align-items: center;
    background: rgb(255, 255, 255);
    position: fixed;
    margin: 0px;
    top: 0;
  }
  
  .p-button {
    border: 2px solid #ccc;
    background-color: #f0f0f0;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .p-button:hover {
    background-color: #ddd;
    color: #555;
  }
  
  .p-button-danger {
    background-color: #b3b3b3;
    color: white;
  }
  
  .p-button-danger:hover {
    background-color: #d32f2f;
  }